.form {
    padding: 45px 86px 32px 96px;
    display: flex;
    flex-direction: column;
}

.formTop {
    margin: 0 0 43px 0;
    display: flex;
    flex-direction: column;
}

.formTitle {
    margin: 0 0 15px 0;
    font-weight: 700;
    color: #082758
} 

.formTopDescr {
    margin: 0 0 0 0;
    font-weight: 400;
    color: #A4A5AA;
} 

.formMain {
    margin: 0 0 89px 0;
    display: flex;
    flex-direction: column;
}

.formLabel {
    margin: 0 0 8px 0;
    font-weight: 400;
    color: #1D304A;
}

.formInput {
    padding: 13px 0 14px 16px;
    margin: 0 0 0 0;
    font-weight: 500;
    color: #A4A5AA;
    border: 1px solid #D9D8DC;
    border-radius: 5px;
    outline: none;
}

.formInput::placeholder {
    color: #A4A5AA;
}

.formInput:not(:last-child) {
    margin: 0 0 25px 0;
}

.formBottom {
    display: flex;
    justify-content: right;
}

