.select {
    margin: 0 0 17px 0;
    padding: 21px 24px 20px 23px;
    display: flex;
    align-items: center;
    width: 448px;
    overflow: hidden;
    border: 1px solid #554D99;
    border-radius: 6px;
    transition: 0.3s ease-in;
}

.select:hover {
    background-color: #F8F9FE;
    cursor: pointer;
}

.selectActive {
    background-color: #F8F9FE;
}

.selectCheckbox {
    margin: 0 24px 0 0;
    width: 20px;
    height: 20px;
}

.selectTextbox {
    margin: 0 0 0 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.selectTitle {
    margin: 0 0 3px 0;
    font-weight: 700;
    color: #0B2242;
}

.selectDescr {
    margin: 0 0 0 0;
    font-weight: 400;
    color: #A7A7B1;
}

.selectPlan {
    margin: 0 0 0 0;
    font-weight: 400;
    color: #5F59AA;
}

.formBottom {
    display: flex;
    justify-content: right;
}