.sidebar {
    padding: 40px 77px 300px 27px;
    max-width: 274px;
    background-image: url('../../../public/images/bg-sidebar-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 9px;
}

.stepList {
    width: 167px;
    display: flex;
    flex-direction: column;
}

.stepItem {
    width: 100%;
    display: flex;
    align-items: center;
}

.stepItem:not(:last-child) {
    margin: 0 0 30px 0;
}

.stepId {
    margin: 0 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 500;
    color: #F7F4FF;
    background-color: transparent;
    border: 1px solid #F7F4FF;
}

.active {
    background-color: #BEE1FD;
    color: #032450;
    border: transparent;
}

.stepFlex {
    display: flex;
    flex-direction: column;
}

.stepNum {
    margin: 0 0 7px 0;
    font-size: 12px;
    font-weight: 400;
    color: #8F8DFF;
}

.stepText {
    width: 100%;
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 700;
    color: #F7F4FF;
}

@media (max-width: 720px) {

    .sidebar {
        padding: 16px 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        max-width: 100%;
        background-image: url('../../../public/images/bg-sidebar-mobile.svg');
        border-radius: 0;
    }

    .stepList {
        width: 60%;
        height: 70px;
        flex-direction: row;
    }


    .stepItem:not(:last-child) {
        margin: 0 0 0 0;
    }

    .stepId {
        margin: 0 0 0 0;
        width: 50px;
        height: 50px;
    }

    .stepFlex {
        display: none;
    }
}