.form {
    padding: 45px 86px 32px 96px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 720px) {

    .form {
        margin: 113px 0 0 0;
        padding: 60px 20px 32px 20px;
        z-index: 10;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
    }
}